
/* ヘッダーのスタイル */
header {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 18px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    padding: 5px; /* パディングを追加してクリック領域を大きくする */
    transition: background-color 0.3s; /* 背景色の変更にアニメーションを追加 */
}

nav a:hover {
    text-decoration: underline;
}

body {
    padding-top: 60px;
    margin: 0;
}

.full-screen-image {
    position: fixed;
    top: 55px;
    width: 100%;
    height: calc(100vh - 55px);
    object-fit: cover;
    z-index: 1;
    opacity: 1; /* 初期オパシティ */
    transition: opacity 2s ease-in-out;
}

.text-container {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 10;
    color: white;
}

.motto {
    font-size: 20px;
    margin-top: 10px;
    opacity: 0;
    animation: fadeInMotto 3s forwards;
}

@keyframes fadeInMotto {
    0% { opacity: 0; transform: translateY(-20px); }
    100% { opacity: 1; transform: translateY(0); }
}

.animate-text {
    font-size: 48px;
    font-weight: bold;
    opacity: 0;
    animation: fadeInText 3s forwards;
}

@keyframes fadeInText {
    0% { opacity: 0; transform: translateY(-50px); }
    100% { opacity: 1; transform: translateY(0); }
}

.blue { color: lightblue; }

.letter-c {
    color: lightblue;
    position: relative;
    display: inline-block;
}

.letter-c::before {
    content: "★";
    position: absolute;
    color: red;
    font-size: 0.7em;
    top: 0.25em;
    left: 0.1em;
    width: 100%;
    text-align: center;
}

.search-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    padding: 10px;
    border: 2px solid #e0e0e0;
    width: 100%;
}

.search-box input {
    border: none;
    outline: none;
    font-size: 16px;
    padding: 10px;
    border-radius: 50px;
    flex: 1;
}

.search-box button {
    background-color: white;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 50%;
    cursor: pointer;
}

.search-container {
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 500px;
    z-index: 20;
    position: relative;
    margin-top: 30px;
}

.search-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

/* カスタムオートコンプリートリストのスタイル */
.autocomplete-items {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: white;
    color: black;
    border: 1px solid #d4d4d4;
    border-radius: 50px;
    z-index: 99;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
    background-color: #e9e9e9;
    border-radius: 50px;
}

.autocomplete-active {
    background-color: #007bff;
}

.tour-image {
    position: absolute;
    top: 110%; /* タイトルの下に表示 */
    left: 0;
    width: 100%;
    height: auto;
    border-radius: 5px;
    opacity: 0; /* 初期状態は非表示 */
    transition: opacity 0.5s ease-in-out; /* フェードインのアニメーション */
    z-index: 10;
}

h2:hover + .tour-image {
    opacity: 1; /* マウスオーバー時に表示 */
}

.tour-list-container {
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 800px; /* テーブルの最大幅を設定 */
}

h2 {
    text-align: left;
    color: #333;
    margin-bottom: 10px;
    border-bottom: 2px solid lightblue; /* 下に線を追加 */
    padding-bottom: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    transition: background-color 0.3s;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.tour-image {
    width: 100%; /* 画像の幅を調整 */
    height: auto;
    border-radius: 5px;
}
#map {
    height: 400px; /* 地図の高さ */
    width: 100%; /* 幅を100%に */
    border-radius: 5px;
    margin-top: 20px;
}
.video-container {
    position: absolute; /* 動画を固定 */
    padding: 20px;
    left: 38%;
    top: 235%;
    border-radius: 10px;
    display: none; /* 初期状態では非表示 */
    z-index: 1000; /* マップより前に表示 */
}
.close-button {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}
.map-title {
    font-size: 24px; /* フォントサイズ */
    margin: 10px 0; /* 上下のマージン */
    color: #333; /* 文字色 */
    position: relative; /* マップの上に位置を調整するため */
    z-index: 1001; /* マップより前に表示 */
}
.notice {
    color: red; /* 赤文字 */
    margin: 10px 0; /* 上下のマージン */
}
